Repository badoo/marathon, pull requests merged in 2022-01, with the labels that each got.

#37 Fix pulling large number of screenshots
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/RemoteFileManager.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/pull/PullScreenshotTestRunListener.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/DdmlibAndroidDevice.kt
Labels: vendor, android

#38 Add random sorting strategy
  cli/src/main/kotlin/com/malinskiy/marathon/cli/config/deserialize/SortingStrategyDeserializer.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactorySpec.kt
  cli/src/test/resources/fixture/config/sample_random_sorting_strategy.yaml
  core/src/main/kotlin/com/malinskiy/marathon/execution/strategy/impl/sorting/RandomSortingStrategy.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/strategy/impl/sorting/RandomSortingStrategySpek.kt
Labels: core, cli

#39 Gradle 7.3 and Kotlin 1.5
  build.gradle.kts
  buildSrc/src/main/kotlin/Deployment.kt
  buildSrc/src/main/kotlin/Versions.kt
  cli/build.gradle.kts
  cli/src/test/kotlin/com/malinskiy/marathon/cli/args/FileAndroidConfigurationSpek.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/ConfigFactorySpec.kt
  cli/src/test/kotlin/com/malinskiy/marathon/cli/config/FileIOSConfigurationSpek.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxDbProviderIntegrationSpec.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxMetricsProviderIntegrationSpec.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/cache/gradle/GradleHttpCacheServiceSpek.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/scenario/CacheScenarios.kt
  core/src/main/kotlin/com/malinskiy/marathon/actor/Actor.kt
  core/src/main/kotlin/com/malinskiy/marathon/report/html/HtmlSummaryReporter.kt
  core/src/test/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxDBDataSourceTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/analytics/metrics/remote/influx/InfluxMetricsProviderSpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/cache/test/TestResultsCacheSpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/cache/test/key/TestCacheKeyFactoryTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/device/DeviceFeatureSpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/AnnotationFilterSpec.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/CompositionFilterSpec.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/FullyQualifiedClassnameFilterSpec.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/SimpleClassnameFilterSpec.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/TestPackageFilterSpec.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/progress/ProgressReporterSpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/QueueActorTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporterTest.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/strategy/impl/pooling/OmniPoolingStrategySpek.kt
  core/src/test/kotlin/com/malinskiy/marathon/time/SystemTimerTest.kt
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/worker/WorkerContext.kt
  settings.gradle.kts
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/AndroidTestParserSpek.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/ApkParserSpek.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/executor/logcat/LogcatCollectorTest.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/executor/logcat/parse/LogcatEventsAdapterTest.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceProviderSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/DerivedDataManagerSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/IOSDeviceProviderSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/cmd/remote/SshjCommandOutputLineBufferSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/logparser/ProgressParserSpek.kt
  vendor/vendor-ios/src/test/kotlin/com/malinskiy/marathon/ios/xctestrun/XctestrunSpek.kt
Labels: core, vendor, android, build, cli, gradle-plugin, ios
