Repository badoo/marathon, pull requests merged in 2024-07, with the labels that each got.

#58 Add support for standalone test modules
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonPlugin.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonScheduleTestsToWorkerTask.kt
Labels: gradle-plugin

#60 Avoid using Koin GlobalContext
  core/src/main/kotlin/com/malinskiy/marathon/Marathon.kt
  core/src/main/kotlin/com/malinskiy/marathon/di/Modules.kt
  core/src/main/kotlin/com/malinskiy/marathon/vendor/VendorConfiguration.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/DeviceFilteringScenario.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/DisconnectingScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/SuccessScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/UncompletedScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/spek/DeclareMock.kt
  core/src/test/kotlin/com/malinskiy/marathon/spek/KoinSpek.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/worker/WorkerRunnable.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/di/Modules.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/spek/KoinSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/spek/KoinSpek.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/MarathonFactoryExtensions.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/StubLogsProvider.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/StubMarathonLogConfigurator.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/TestVendorConfiguration.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/MarathonFactory.kt
Labels: core, vendor, android, gradle-plugin

#61 Add cleanup device script
  buildSrc/src/main/kotlin/Versions.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/ConfigurationFactory.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  vendor/vendor-android/base/build.gradle.kts
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/di/Modules.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/ApkFileHasher.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/AndroidAppInstaller.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/AndroidDeviceTestRunner.kt
Labels: vendor, android, build, gradle-plugin

#63 Remove app from installed apps cache
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/ConfigurationFactory.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/AndroidAppInstaller.kt
Labels: vendor, android, gradle-plugin

#64 Fix Gradle tests cache
  core/src/main/kotlin/com/malinskiy/marathon/cache/CacheEntryWriter.kt
  core/src/main/kotlin/com/malinskiy/marathon/cache/gradle/GradleHttpCacheService.kt
  core/src/main/kotlin/com/malinskiy/marathon/cache/test/serialization/TestResultEntryWriter.kt
  core/src/test/kotlin/com/malinskiy/marathon/cache/MemoryCacheService.kt
  core/src/test/kotlin/com/malinskiy/marathon/cache/SimpleEntryWriter.kt
Labels: core, vendor, android

#65 Fix for loosing test method annotations in test results
  buildSrc/src/main/kotlin/Versions.kt
  core/src/integrationTest/kotlin/com/malinskiy/marathon/scenario/CacheScenarios.kt
  core/src/main/kotlin/com/malinskiy/marathon/cache/gradle/GradleHttpCacheService.kt
  core/src/main/kotlin/com/malinskiy/marathon/report/allure/AllureReporter.kt
  core/src/test/kotlin/com/malinskiy/marathon/execution/queue/TestResultReporterTest.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/listeners/TestRunResultsListener.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/AndroidTestParserSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceProviderSpek.kt
Labels: core, vendor, android, build

#66 Cleanup Configuration model
  core/src/integrationTest/kotlin/com/malinskiy/marathon/scenario/CacheScenarios.kt
  core/src/main/kotlin/com/malinskiy/marathon/Marathon.kt
  core/src/main/kotlin/com/malinskiy/marathon/analytics/TrackerFactory.kt
  core/src/main/kotlin/com/malinskiy/marathon/di/Modules.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/ComponentInfoExtractor.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
  core/src/main/kotlin/com/malinskiy/marathon/report/html/HtmlSummaryReporter.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/DeviceFilteringScenario.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/DisconnectingScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/InvalidConfigScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/SuccessScenarios.kt
  core/src/test/kotlin/com/malinskiy/marathon/scenario/UncompletedScenarios.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/ConfigurationFactory.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  report/html-report/src/main/kotlin/com/malinskiy/marathon/report/HtmlIndex.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/di/Modules.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/executor/AndroidComponentInfoExtractor.kt
  vendor/vendor-android/base/src/test/kotlin/com/malinskiy/marathon/android/AndroidTestParserSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/StubComponentInfoExtractor.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/TestBodyExtensions.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/TestVendorConfiguration.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
Labels: core, vendor, android, report, gradle-plugin

#67 Further cleanup of Configuration model
  core/src/main/kotlin/com/malinskiy/marathon/cache/test/key/TestCacheKeyFactory.kt
  core/src/main/kotlin/com/malinskiy/marathon/di/Modules.kt
  core/src/main/kotlin/com/malinskiy/marathon/execution/Configuration.kt
  core/src/test/kotlin/com/malinskiy/marathon/cache/test/key/TestCacheKeyFactoryTest.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/ConfigurationFactory.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonExtension.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
  vendor/vendor-test/src/main/kotlin/com/malinskiy/marathon/test/factory/ConfigurationFactory.kt
Labels: core, vendor, android, gradle-plugin

#68 Simplify deployment
  .buildsystem/deploy-sonatype.sh
  .github/workflows/ci.yml
  README.md
  build.gradle.kts
  buildSrc/src/main/kotlin/Deployment.kt
  sample/gradle.properties
  sample/settings.gradle
  settings.gradle.kts
Labels: build, sample, workflow

#70 Simplify ADB lookup
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/ConfigurationFactory.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/MarathonPlugin.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/android/AdbFinder.kt
  marathon-gradle-plugin/src/main/kotlin/com/malinskiy/marathon/android/SdkFinder.kt
  vendor/vendor-android/base/src/main/kotlin/com/malinskiy/marathon/android/AndroidConfiguration.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/DdmlibAndroidDevice.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/DdmlibDeviceProvider.kt
  vendor/vendor-android/ddmlib/src/main/kotlin/com/malinskiy/marathon/android/ddmlib/shell/CliLogcatReceiver.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceSpek.kt
  vendor/vendor-android/ddmlib/src/test/kotlin/com/malinskiy/marathon/android/AndroidDeviceTestRunnerSpek.kt
Labels: vendor, android, gradle-plugin

#71 Update plugin id
  marathon-gradle-plugin/build.gradle.kts
  sample/app/build.gradle.kts
  sample/build.gradle.kts
  sample/library/build.gradle.kts
Labels: gradle-plugin, sample
